body {
    color: #1c1c20;
    font-family: 'Playfair Display', serif;
}

.nav{
    background-color: #7EDBE5;
}

.navbar {
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color:#34495E;
}

.nav-head{
    color: black;
    font-size: 30px;
    justify-content: flex-start;
}

h2 {
    margin-top: 20px;
    font-size: 100px;
}

section {
    border: 1px solid #000;
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 20px;
    background-color:#DAC5D4;
    
}
